@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/*Material Icons*/
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: sub;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}

html{
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    
}

#Title{
	display: flex;
	margin-left: 50%;
	font-size: xx-large;
	margin-top: 1.3em;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f0db4f;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a, #ejercicios, #logicaDeProgramacion {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}
  
.sidenav a:hover, #ejercicios:hover, #logicaDeProgramacion:hover {
	color: #f1f1f1;
	background-color: #5a5a5a;
}

#dropdown-container{
	display: none;
	padding-left: 1em;
}

#logicaDeProgramacion-dropdown{
	display: none;
	padding-left: 1.5em;
}
