@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/*Material Icons*/
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: sub;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}

html{
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    
}

main{
	margin-left: 200px;
}

h1{
	display: flex;
	justify-content: center;
	font-size:xx-large;
	margin-top: 1.3em;
}

/* 
Side-nav
*/

.sidenav-menu {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fcdb01;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav-menu img{
	width: 20rem;
	max-width: 100%;
}

/* 
Estilos a los botones del menú
*/

.sidenav-menu a, #ejercicios, #logicaDeProgramacion, #asincronia, #nuevos-tipos {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
	color:black;
}

/* 
Estilos aplicados al hacer hover
*/
  
.sidenav-menu a:hover, #ejercicios:hover, #logicaDeProgramacion:hover, #asincronia:hover, #nuevos-tipos:hover {
	color: #f1f1f1;
	background-color: #5a5a5a;
}

#asincronia-dropdown{
	display: none;
	padding-left: 1.5em;
}

#lista-ejercicios{
	display: none;
	padding-left: 1em;
}

#logicaDeProgramacion{
	display: block;
	padding-left: 1.5em;
}

#logicaDeProgramacion-dropdown{
	display: none;
	padding-left: 1.5em;
}

#nuevos-tipos-dropdown{
	display: none;
	padding-left: 1.5em;
}