@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html{
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

*,*::after,*::before{
    box-sizing: inherit;
}

img{
    width:10em;
}

/*---NAVBAR---*/

